menu:
  pulsar:
    about: "Acerca de Pulsar"
    "view-license": "Ver licencia"
    version: "Versión VERSION"
    "restart-and-install-update": "Actualizar y reiniciar"
    "check-for-update": "Buscar actualizaciones"
    "checking-for-update": "Buscando actualizaciones"
    "downloading-update": "Descargando la actualización"
    preferences: "Preferencias"
    config: "Configuración"
    "init-script": "Script de inicio"
    keymap: "Atajos del teclado"
    snippets: "Fragmentos"
    stylesheet: "Hoja de estilos"
    "install-shell-commands": "Instalar comandos de Shell"
    quit: "Cerrar Pulsar"
  macos:
    services: "Servicios"
    "hide-self": "Ocultar Pulsar"
    "hide-others": "Ocultar otros"
    "show-all": "Mostrar todo"
  file:
    self: "Archivo"
    "new-window": "Nueva ventana"
    "new-file": "Nuevo archivo"
    open: "Abrir..."
    "open-file": "Abrir archivo..."
    "open-folder": "Abrir carpeta..."
    "add-project-folder": "Agregar carpeta de proyecto"
    "project-history":
      "reopen-project": "Reabrir proyecto"
      clear: "Borrar historial del proyecto"
    "reopen-last-item": "Reabrir último ítem"
    save: "Guardar"
    "save-as": "Guardar como..."
    "save-all": "Guardar todo"
    "close-tab": "Cerrar pestaña"
    "close-pane": "Cerrar panel"
    "close-window": "Cerrar ventana"
  edit:
    self: "Editar"
    undo: "Deshacer"
    redo: "Rehacer"
    cut: "Cortar"
    copy: "Copiar"
    "copy-path": "Copiar ruta"
    paste: "Pegar"
    "paste-without-reformatting": "Pegar sin formato"
    "select-all": "Seleccionar todo"
    "toggle-comments": "Alternar comentarios"
    lines:
      self: "Líneas"
      indent: "Sangría (añadir)"
      outdent: "Sangría (quitar)"
      "auto-indent": "Sangría automática"
      "move-up": "Mover línea arriba"
      "move-down": "Mover línea abajo"
      duplicate: "Duplicar líneas"
      delete: "Eliminar línea"
      join: "Juntar líneas"
    columns:
      self: "Columnas"
      "move-selection-left": "Mover selección a la izquierda"
      "move-selection-right": "Mover selección a la derecha"
    text:
      self: "Texto"
      "upper-case": "Mayúsculas"
      "lower-case": "Minúsculas"
      "delete-to-end-of-word": "Borrar hasta el fin de palabra"
      "delete-to-previous-word-boundary": "Borrar hasta el límite de palabra anterior"
      "delete-to-next-word-boundary": "Borrar hasta el límite de palabra siguiente"
      "delete-line": "Borrar línea"
      transpose: "Transponer"
    folding:
      self: "Plegable"
      fold: "Contraer"
      unfold: "Expandir"
      "fold-all": "Contraer todo"
      "unfold-all": "Expandir todo"
      "fold-level-1": "Contraer nivel 1"
      "fold-level-2": "Contraer nivel 2"
      "fold-level-3": "Contraer nivel 3"
      "fold-level-4": "Contraer nivel 4"
      "fold-level-5": "Contraer nivel 5"
      "fold-level-6": "Contraer nivel 6"
      "fold-level-7": "Contraer nivel 7"
      "fold-level-8": "Contraer nivel 8"
      "fold-level-9": "Contraer nivel 9"
  view:
    self: "Vista"
    "toggle-full-screen": "Alternar pantalla completa"
    "toggle-menu-bar": "Alternar barra de menú"
    panes:
      self: "Paneles"
      "split-up": "Dividir arriba"
      "split-down": "Dividir abajo"
      "split-left": "Dividir a la izquierda"
      "split-right": "Dividir a la derecha"
      "focus-next": "Ir al siguiente panel"
      "focus-previous": "Ir al panel anterior"
      "focus-above": "Ir al panel superior"
      "focus-below": "Ir al panel inferior"
      "focus-on-left": "Ir al panel izquierdo"
      "focus-on-right": "Ir al panel derecho"
      close: "Cerrar panel"
    developer:
      self: "Desarrollador"
      "open-in-dev-mode": "Abrir en modo desarrollador"
      "reload-window": "Recargar ventana"
      "run-package-specs": "Ejecutar Specs de paquete"
      "toggle-dev-tools": "Alternar Herramientas de Desarrollador"
    "increase-font-size": "Aumentar tamaño de fuente"
    "decrease-font-size": "Disminuir tamaño de fuente"
    "reset-font-size": "Restablecer tamaño de fuente"
    "toggle-soft-wrap": "Alternar ajuste sutil"
  selection:
    self: "Selección"
    "add-above": "Añadir selección arriba"
    "add-below": "Añadir selección abajo"
    single: "Selección única"
    "split-into-lines": "Dividir entre líneas"
    "to-top": "Seleccionar hasta arriba"
    "to-bottom": "Seleccionar hasta abajo"
    line: "Seleccionar línea"
    word: "Seleccionar palabra"
    "to-beginning-of-word": "Seleccionar hasta principio de palabra"
    "to-beginning-of-line": "Seleccionar hasta final de línea"
    "to-first-char-of-line": "Seleccionar hasta primer carácter de línea"
    "to-end-of-word": "Seleccionar hasta fin de palabra"
    "to-end-of-line": "Seleccionar hasta fin de línea"
  find:
    self: "Buscar"
  packages:
    self: "Paquetes"
    "open-package-manager": "Abrir administrador de paquetes"
  window:
    self: "Ventana"
    minimise: "Minimizar"
    zoom: "Zoom"
    "bring-all-to-front": "Traer todo al frente"
  help:
    self: "Ayuda"
    "terms-of-use": "Términos de uso"
    docs: "Documentación"
    faq: "Preguntas frecuentes"
    "community-discussions": "Discusiones comunes"
    "report-issue": "Reportar un problema"
    "search-issues": "Encontrar problemas"
