menu:
  pulsar:
    about: "À propos de Pulsar"
    "view-license": "Voir la licence"
    version: "Version VERSION"
    "restart-and-install-update": "Redémarrer et installer la mise à jour"
    "check-for-update": "Vérifier les mises à jour"
    "checking-for-update": "Vérification des dernières mises à jour"
    "downloading-update": "Téléchargement des mises à jour"
    preferences: "Préférences"
    config: "Configuration"
    "init-script": "Script d'initialisation"
    keymap: "Raccourcis clavier"
    snippets: "Extraits de code"
    stylesheet: "Feuille de style"
    "install-shell-commands": "Installer les commandes du terminal"
    quit: "Quitter Pulsar"
  macos:
    services: "Services"
    "hide-self": "Réduire Pulsar"
    "hide-others": "Réduire les autres"
    "show-all": "Montrer tout"
  file:
    self: "Fichier"
    "new-window": "Nouvelle fenêtre"
    "new-file": "Nouveau fichier"
    open: "Ouvrir..."
    "open-file": "Ouvrir un fichier..."
    "open-folder": "Ouvrir un dossier..."
    "add-project-folder": "Ajouter un projet depuis un dossier"
    "project-history":
      "reopen-project": "Réouvrir un projet"
      clear: "Supprimer l'historique des projets"
    "reopen-last-item": "Réouvrir le dernier élément"
    save: "Enregistrer"
    "save-as": "Enregistrer sous..."
    "save-all": "Tout enregistrer"
    "close-tab": "Fermer l'onglet"
    "close-pane": "Fermer le panneau"
    "close-window": "Fermer la fenêtre"
  edit:
    self: "Modifier"
    undo: "Annuler"
    redo: "Rétablir"
    cut: "Couper"
    copy: "Copier"
    "copy-path": "Copier le chemin"
    paste: "Coller"
    "paste-without-reformatting": "Coller sans formatage"
    "select-all": "Sélectionner tout"
    "toggle-comments": "Commenter/décommenter"
    lines:
      self: "Lignes"
      indent: "Indenter"
      outdent: "Désindenter"
      "auto-indent": "Indentation automatique"
      "move-up": "Déplacer la ligne vers le haut"
      "move-down": "Déplacer la ligne vers le bas"
      duplicate: "Dupliquer les lignes"
      delete: "Supprimer la ligne"
      join: "Joindre les lignes"
    columns:
      self: "Colonnes"
      "move-selection-left": "Déplacer la sélection à gauche"
      "move-selection-right": "Déplacer la sélection à droite"
    text:
      self: "Texte"
      "upper-case": "Majuscule"
      "lower-case": "Minuscule"
      "delete-to-end-of-word": "Supprimer jusqu'à la fin du mot"
      "delete-to-previous-word-boundary": "Supprimer à la limite du mot précédent"
      "delete-to-next-word-boundary": "Supprimer à la limite du mot suivant"
      "delete-line": "Supprimer la ligne"
      transpose: "Transposer"
    folding:
      self: "Pliage"
      fold: "Replier"
      unfold: "Déplier"
      "fold-all": "Replier tout"
      "unfold-all": "Déplier tout"
      "fold-level-1": "Plier le niveau 1"
      "fold-level-2": "Plier le niveau 2"
      "fold-level-3": "Plier le niveau 3"
      "fold-level-4": "Plier le niveau 4"
      "fold-level-5": "Plier le niveau 5"
      "fold-level-6": "Plier le niveau 6"
      "fold-level-7": "Plier le niveau 7"
      "fold-level-8": "Plier le niveau 8"
      "fold-level-9": "Plier le niveau 9"
  view:
    self: "Affichage"
    "toggle-full-screen": "Basculer le plein écran"
    "toggle-menu-bar": "Basculer la barre de menu"
    panes:
      self: "Panneaux"
      "split-up": "Séparer vers le haut"
      "split-down": "Séparer vers le bas"
      "split-left": "Séparer vers la gauche"
      "split-right": "Séparer vers la droite"
      "focus-next": "Mettre le focus sur le prochain panneau"
      "focus-previous": "Mettre le focus sur le panneau précédent"
      "focus-above": "Mettre le focus sur le panneau du dessus"
      "focus-below": "Mettre le focus sur le panneau du dessous"
      "focus-on-left": "Mettre le focus sur le panneau à gauche"
      "focus-on-right": "Mettre le focus sur le panneau à droite"
      close: "Fermer le panneau"
    developer:
      self: "Développeur"
      "open-in-dev-mode": "Ouvrir en mode développeur"
      "reload-window": "Recharger la fenêtre"
      "run-package-specs": "Exécuter les spécifications du paquet"
      "toggle-dev-tools": "Basculer les outils développeur"
    "increase-font-size": "Augmenter la taille de la police"
    "decrease-font-size": "Réduire la taille de la police"
    "reset-font-size": "Réinitialiser la taille de la police"
    "toggle-soft-wrap": "Basculer le retour à la ligne souple"
  selection:
    self: "Sélection"
    "add-above": "Sélectionner au-dessus"
    "add-below": "Sélectionner en dessous"
    single: "Sélection unique"
    "split-into-lines": "Séparer en plusieurs lignes"
    "to-top": "Sélectionner jusqu'en haut"
    "to-bottom": "Sélectionner jusqu'en bas"
    line: "Sélectionner la ligne"
    word: "Sélectionner le mot"
    "to-beginning-of-word": "Sélectionner jusqu'au début du mot"
    "to-beginning-of-line": "Sélectionner jusqu'au début de la ligne"
    "to-first-char-of-line": "Sélectionner jusqu'au premier caractère de la ligne"
    "to-end-of-word": "Sélectionner jusqu'à la fin du mot"
    "to-end-of-line": "Sélectionner jusqu'à la fin de la ligne"
  find:
    self: "Rechercher"
  packages:
    self: "Paquets"
    "open-package-manager": "Ouvrir le gestionnaire de paquet"
  window:
    self: "Fenêtre"
    minimise: "Réduire"
    zoom: "Zoom"
    "bring-all-to-front": "Amener tout au premier plan"
  help:
    self: "Aide"
    "terms-of-use": "Conditions d'utilisation"
    docs: "Documentation"
    faq: "Questions fréquentes"
    "community-discussions": "Discussions de la communauté"
    "report-issue": "Signaler un problème"
    "search-issues": "Rechercher un problème"
